
/*Alpha54*/
@font-face {
    font-family: 'Alpha54';
    src: url('Alpha54.eot'); /* IE 9 Compatibility Mode */
    src: url('Alpha54.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Alpha54.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Alpha54.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Alpha54.svg#Alpha54') format('svg'); /* Chrome < 4, Legacy iOS */
    }
