// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

// @coul1: #FFBF00;
// @coul1: #D78E2D;
// @coul1: black;
@coul1: black;
// @coul2: #1e4ea6;

// mettre none aux variables des grilles à cacher
@hideGrids:     ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        ;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

@import "fontes/candal-mod/Candal-mod/Candal-mod-stylesheet.css";
@import "fontes/Computer Modern/Typewriter Variable/cmun-typewriter-variable.css";

//  GLOBAL + GRILLE
body{
    font-family: 'Candal-mod';
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    // transform: rotate(90deg);
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
      position: fixed;
    color: @coul1;
    font-size: 10pt;
    line-height: 1.28;
    #eveque, #poisson{
      div{
        width: @posterHeight / 4;
        heihgt: @posterWidth / 2;
        position: absolute;
        color: @coul1;
        padding: @unitWidth @unitHeight/2;
        h1, h2, h3{
          display: inline;
          background: @coul1;
          color: white;
          text-align: justify;
          text-align-last: justify;
          padding: 0mm 3mm;
        }



        h1{

        }
        h2{
          text-transform: uppercase;
          width: 100%;
          display: inline-block;
          margin-bottom: 2mm;
          span{
            transform: rotate(-45deg);
            display: inherit;
          }
        }
        h3{
          display: block;
          margin-bottom: 1.5mm;
          text-align: right;


        }
        h5{
          margin-left:120px;

        }
        h6{
          margin-left:60px;
        }
       
        ul{
          li{
            .dateType{
               text-align: justify;
               text-align-last: justify;
              .date{
                border: 2px solid @coul1;
                padding: 0 5px;
              }
              .type{
            	font-family: 'Computer Modern Typewriter Variable';
               text-transform: uppercase;
               font-size: .65em;
               display: inline-block;
              }
            }
            .title{
              text-align-last: right;
              text-align: right;
            }
            .people{
              text-align-last: left;
              text-align: left;
            }
            .place{
          display:inline-block;
              
              
              
            }
          }
        }
      }
    }

    #eveque{
      .col1 {
      // transform: rotate(-90deg);
           top: 11.5cm;
    left: 2.9cm;
text-align:left;
font-size: 14pt;
   line-height: 1.28;
             .lieu{
text-align: right;
margin-left: -20px;
-webkit-hyphens: auto;

 -moz-hyphens: auto;

 -ms-hyphens: auto;

 -o-hyphens: auto;

 hyphens: auto;
  } 
     
    
         }
b{
        font-family: 'Computer Modern Typewriter Variable'; 
        font-style: italic;
        font-weight:bold;
        
       
        vertical-align: middle;

}
 h7{

  
          font-family: 'Computer Modern Typewriter Variable';
              font-style: italic;
        font-weight:bold;
        padding: 0;
        }
     em{
              -webkit-text-stroke: 1.0px #000000;
      -webkit-text-fill-color: #FFFFFF;
      position:absolute;

    z-index: -1;
    margin-top: .93px;}
  
       
      .col2{
        transform: rotate(-90deg);
        left: 22.75cm;
        top: 11.55cm;
        display:none;
               }
      .col3{
        transform: rotate(-90deg);
        left:20.8cm;
        top: -4.6cm;
         display:none;
       

      }
      .col4{
        
        transform: rotate(90deg);
        top:-0.18cm;
        left: 2.7cm;
         display:none;
        
        div{
          padding: 0;
          width: @posterWidth/3.5;
        }
      }
    }
    #poisson{
      display: none;
      .col1{
        top: 44.6cm;
        left: 6.1cm;
        // background: yellow;
        transform: rotate(90deg);
      }
      .col2{
        transform: rotate(-90deg);
        top: 43.8cm;
        left: 21.7cm;
      }
      .col3{
        transform: rotate(-90deg);
        top: 27.7cm;
        left: 23cm;
      }
      .col4{
        transform: rotate(90deg);
        top: 29.6cm;
        left: 6cm;
      }top: @posterHeight / 2;
    }
  }

  #contentVerso{

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
