// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: black;
@coul2: white;

// mettre none aux variables des grilles à cacher
@hideGrids:       none;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        ;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

// @import "fontes/Candal/Candal-stylesheet.css";


@import "fontes/candal-mod/Candal-mod/Candal-mod-stylesheet.css";
@import "fontes/Computer Modern/Serif/cmun-serif.css";
@import "fontes/Computer Modern/Classical Serif Italic/cmun-classical-serif-italic.css";
@import "fontes/Computer Modern/Sans/cmun-sans.css";
@import "fontes/Computer Modern/Typewriter/cmun-typewriter.css";
@import "fontes/Computer Modern/Typewriter Variable/cmun-typewriter-variable.css";
@import "fontes/Computer Modern/Upright Italic/cmun-upright-italic.css";

//  GLOBAL + GRILLE
body{
  font-family: 'Candal-mod';
  margin: 10px;
  transform: scale(0.42);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;

  }
  #contentRecto{
    position: fixed;
    font-size: 52.26pt;
    line-height: 1.185;
    letter-spacing: 0.02em;


    .contentcontent{
      position: absolute;
      top: 1.08cm;
      left: @unitWidth;
      width: @posterWidth - @unitWidth * 2;
      .titre, .date, .lieu, .people{
        position: relative;
        z-index: 1;
        color: @coul1;


      }
      b{
        font-family: 'Computer Modern Typewriter Variable';
        font-style: italic;
        font-weight:bold;
        // margin-right: 1mm;
        letter-spacing: 0.01em;
             }
        .border{
            position: absolute;
           margin-top: 0.05cm;
            -webkit-text-stroke: 2.0px @coul2;
            -webkit-text-fill-color: white;
            z-index: -1;
         }
         .border1{
           margin-left: -18cm;
         }
          .border2{
            margin-left: -7.08cm;
          }
          .border3{
            margin-left: -8.85cm
          }
          .border4{
            margin-left: -14.42cm
          }
          .border5{
            margin-left: -12.8cm
          }
          .border6{
            right: -0.1cm
          }
      .titre{
        text-align: center;
        text-align-last: center;
        margin-left: @unitWidth * 5;
        color: @coul1;
        font-weight: bolder;
      }
      .date{
        color: @coul1;
        margin-top:0%;
            margin-left:260px;

            span{
              letter-spacing: -0.1em;
            }

      }
      .lieu{
        color: @coul1;
        margin-right: 1.5mm;
        text-align-last: right;
        span:nth-of-type(1){
          // margin-left: @unitWidth * 5;

        }
        span:nth-of-type(3){
          // margin-left: @unitWidth * 3;
        }
        span:nth-of-type(4){
          // margin-left: @unitWidth * 4;
        }
      }
      .people{
        text-align: justify;
        text-align-last: justify;

      }
    }
    sup{
      font-size: 11pt;
      text-transform: uppercase;
      color: @coul2;
        font-family: 'Computer Modern Typewriter Variable';
        font-style: italic;
        // font-weight:bold;
        vertical-align: middle;
      span{
        transform: rotate(-45deg);
        display: inline-block;
      }
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A2 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
