// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: #C9A44B;
@coul2: #00B3A0;


// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   none;
@hideflyerFolds:  none;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('nanook_bold-webfont.woff2') format('woff2'),
         url('nanook_bold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'nanookregular';
    src: url('nanook-webfont.woff2') format('woff2'),
         url('nanook-webfont.woff') format('woff');
}
@font-face {
    font-family: 'dauphine';
    src: url('dauphine-webfont.woff') format('woff'),
         url('dauphine-webfont.eot') format('eot');
}
body{
  font-family: 'nanookregular', 'sans-serif';
  font-size: 64pt;
  line-height: 75pt;
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }
  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    color: black;
    .rectangle{
      position: absolute;
      height: 36cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /3) - 1px;
      background: white;
      z-index: 100;
      display: none;
    }
    .bgOr{
      position: absolute;
  top:-120px;
left:-60px;
      width: (@unitWidth * 80);
          -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
    }
    b{
      font-family: 'nanookbold';
    }
    .titre, .people, p{
      color: black;
      position: absolute;
      z-index: 2;
      top:10%;
    }
    .titre{
   
      
    }

    .titreEveque{
      left:10px;
  top:10px;  
    color: black;
      position: absolute;
   
   color:@coul1;

    }
    p{
      
      line-height: 1;
    }
    .lieu{
      font-family: 'dauphine';
      font-size: .6em;
      left: @unitWidth * 21;
      top: @unitHeight * 14;
    }
    .date{
  font-family: 'dauphine';
       font-size: .6em;
      top: 29cm;
      left:30cm;
    }
    .people{
      font-size: .6em;
      line-height: 2cm;
    font-family: 'dauphine';
      position: absolute;
      
      bottom: @unitHeight ;
      .first, .second{
        p{
          position: relative;
          font-size: inherit;
        }
      }
      .second{
      }
    }
  }
}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:absolute;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}