// Format: 26x18cm

@bookWidth:     18cm;
@bookHeight:    26cm;
@posterWidth:   42cm;
@posterHeight:  59.4cm;
@unitWidth: @posterWidth / 37;
@unitHeight: @posterHeight / 40;

@coul1: #C9A44B;
@coul2: #00B3A0;


// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        ;
@hideContent:     ;

*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'nanookbold';
    src: url('fontes/nanook_bold-webfont.woff') format('woff'),
         url('fontes/nanook_bold-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'nanookregular';
    src: url('fontes/nanook.ttf') format('ttf'),
         url('fontes/nanook.ttf') format('ttf');
}

@font-face {
    font-family: 'youngSerif';
    src: url('fontes/YoungSerif-Regular.otf') format('ttf');
}

//  GLOBAL + GRILLE
body{
  font-family: 'youngSerif', 'sans-serif';
  margin: 10px;
  transform: scale(0.4);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @posterWidth;
    height: @posterHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .grid{
        position: absolute;
        z-index: 1000;
        .line{
          outline: 1px solid;
          position: absolute;
        }
        .horizontal{
          width: @posterWidth;
          height: 1px;
        }
        .vertical{
          width: 1px;
          height: @posterHeight;
        }
        .horizontalCenter{
          margin-top: (@posterHeight / 2) - 1px;
        }
      }
      .bookFolds{
        display: @hideBookFolds;
        .line{
          outline-color: red;
        }
        .leftFold{
          margin-top: (@posterHeight / 2 - @bookWidth) - 1px;
        }
        .rightFold{
          margin-top: (@posterHeight / 2 + @bookWidth) - 1px;
        }
        .topFold{
          margin-left: ((@posterWidth - @bookHeight) /2) - 1px;
        }
        .bottomFold{
          margin-left: ((@posterWidth + @bookHeight) /2) - 1px;
        }
      }
      .flyerFolds{
        display: @hideflyerFolds;
        .line{
          outline-color: blue;
        }
        .topFold{
          margin-top: (@posterHeight / 4)  - 1px;
        }
        .bottomFold{
          margin-top: ((@posterHeight / 4) * 3) - 1px;
        }
        .verticalFold{
          margin-left: (@posterWidth / 2)  - 1px;
        }
      }
      .theGrid{
        display: @hideGrid;
        .line{
          position: relative;
          outline-color: green;
        }
        .rows{
          position: absolute;
          .row{
            margin-top: (@posterHeight / 40) - 1px;
          }
        }
        .cols{
          position: absolute;
          width: @posterWidth;
          .col{
            float: left;
            margin-left: (@posterWidth / 37) - 1px;
            top: 0;
          }
        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

  #pageVerso, #contentVerso{
    left: @posterWidth + 70px;
  }
  .content{
    display: @hideContent;
    padding: 1%;
  }
  #contentRecto{
    font-size: 55pt;
    line-height: 1.2;
    color: black;
    img, .marge, .people, .titre, .date, .date1, .date2, .fleche, .lieu{
      position: absolute;
    }
    .people{
      z-index: 1
    }
    img{
      right: @unitWidth * 1;
      bottom: @unitHeight * 1;
      width: @unitWidth * 23;
      height: @unitHeight * 24;
    }
    .titre{
      font-size: 1.5em;
      top: @unitHeight;
      left: @unitWidth * 2;
      // width: @posterWidth - @unitWidth * 2;
      line-height: 1;
      z-index: 3;
      text-align: center;
    }
    .titreEveque{
      // margin-left: @unitWidth * 3;
    }
    .date{
      .date1, .date2{
        border: 3px solid black;
        padding: 50px 10px;
        border-radius: 200px;
        z-index: 3;
      }
      .date1{
        top: @unitHeight * 30;
        left: @unitWidth * 2;
      }
      .fleche{
        z-index: 3;
        top: @unitHeight * 23;
        left: @unitWidth * 3;
        width: 350mm;
        height: 2pt;
        background: black;
        transform: rotate(-40deg);
      }
      .date2{
        top: @unitHeight * 11.5;
        left: @unitWidth * 30;
      }
    }
    .lieu{
      display: none;

    }
    .people{
      line-height: 1.5;
      left: @unitWidth;
      top: @unitHeight - 6.5mm;
      width: @posterWidth - @unitWidth * 2;
      text-align: center;
      @halfUnit: @unitWidth / 2;
      -webkit-text-stroke: 1.0px #000000;
      -webkit-text-fill-color: #FFFFFF;
      z-index: 4;
    }
    .rectangle{
      position: absolute;
      height: 36cm;
      width: 26cm;
      top: (@posterHeight / 2 - @bookWidth) - 1px;
      left: ((@posterWidth - @bookHeight) /2) - 1px;
      background: white;
      z-index: 1;
    }
    .marge{
      background: white;
      z-index: 2;
    }
    .margeHoriz{
      height: @unitHeight;
      width: @posterWidth;
      left: 0;
    }
    .margeVert{
      width: @unitWidth;
      height: @posterHeight;
      top: 0;
    }
    .margeTop{
      top: 0;
    }
    .margeBottom{
      bottom: 0;
    }
    .margeLeft{
      left: 0;
    }
    .margeRight{
      right: 0;
    }
    #gridVisible{
      .line{
        position: relative;
        outline: 1px solid black;
        z-index: 2;
      }
      .horizontal{
        width: @posterWidth - @unitWidth * 2;
        height: 1px;
      }
      .vertical{
        width: 1px;
        height: @posterHeight - @unitHeight * 2;
      }
      .rows{
        left: @unitWidth;
        position: absolute;
        .row{
          margin-top: (@posterHeight / 40) - 1px;
        }
      }
      .cols{
        top: @unitHeight;
        left: @unitWidth;
        position: absolute;
        width: @posterWidth - @unitWidth * 2;
        .col{
          float: left;
          margin-left: (@posterWidth / 13) - 1px;
        }
      }
    }

  }

// FIN CONTENU

}

@media print{
  @page{
    size: A3 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
#contentVerso{
  padding-top: 500px;
  top:200px;
outline: none;
color:@coul2;
  position:relative;
  width:150%;
  height:auto;
transform: rotate(90deg);
  transform-origine: 0 0;
font-size:23px;
line-height: 30px;
   -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
       -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
