
/*Candal*/
@font-face {
    font-family: 'Candal';
    src: url('Candal.eot'); /* IE 9 Compatibility Mode */
    src: url('Candal.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Candal.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Candal-mod.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Candal.svg#Candal') format('svg'); /* Chrome < 4, Legacy iOS */
    }
